* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Roboto Mono", monospace;
    min-height: 100vh;
    background-image: url("../medias/bg.png");
    background-size: cover;
    background-position: center;

    .app {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        padding: 4rem;
        gap: 3rem;

        &.login {
            align-items: center;
            .initial {
display: none;
            }
            .loginForm {
                display: flex !important;
                animation: show2 0.5s ease forwards;
                animation-delay: 0.5s;
            }
        }
        header {
            a {
                display: flex;
                font-size: 1.2rem;
                text-decoration: none;
                color: white;
                align-items: center;
                gap: 0.6rem;
                img {
                    width: 3.6rem;
                }
            }
        }
        main {
            font-size: 1.4rem;
            display: grid;
            gap: 6rem;
            .texts {
                display: grid;
                gap: 4rem;
                color: #1cbb4a;
                .textArea {
                    display: grid;
                    gap: 0.4rem;
                    opacity: 0;
                    &:nth-child(1) {
                        animation: show 0s forwards;

                        animation-delay: 0;
                    }
                    &:nth-child(2) {
                        animation: show 0s forwards;
                        animation-delay: 1s;
                    }
                    &:nth-child(3) {
                        animation: show 0s forwards;
                        animation-delay: 2s;
                    }
                    &:nth-child(4) {
                        animation: show 0s forwards;
                        animation-delay: 3s;
                    }
                    &:nth-child(5) {
                        animation: show 0s forwards;
                        animation-delay: 3.6s;
                    }
                }
            }

            .barLoading {
                width: 100%;
                height: 1.2rem;
                background-color: #0b4426;
                position: relative;
                &::after {
                    content: "";
                    width: 0;
                    height: 100%;
                    background-color: #1ffd5f;
                    position: absolute;
                    left: 0;
                    top: 0;

                    animation: preencher 4s forwards;
                }
            }
        }

        footer {
            color: white;
            font-size: 1.4rem;
        }

        // Login

        .loginForm {
            width: min(50rem, 100vw);
            min-height: 38rem;
            border: 2px solid white;
            display: flex;
            flex-direction: column;
            padding: 2rem;
            align-items: center;
            text-align: center;
            color: white;
            gap: 2rem;
            opacity: 0;
            transform: scale(0.8);

            display: none;
            opacity: 0;
            .err {
                border: 2px solid red !important;
                color: red !important;
                animation: 0.4s tremer;
                input {
                    &::placeholder {
                        color: red !important;
                    }
                }
            }
            .logo {
                img {
                    width: 7.6rem;
                }
            }
            .content {
                display: grid;
                gap: 1rem;
                h1 {
                    font-size: 2.4rem;
                }
                span.desc {
                    font-size: 1.2rem;
                }

                form {
                    display: grid;
                    gap: 1.4rem;
                    padding-top: 1.4rem;
                    .inputArea {
                        width: 100%;
                        height: 4rem;
                        border: 2px solid white;
                        padding: 1rem;
                        position: relative;
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        input {
                            width: 100%;
                            height: 3.6rem;

                            background: none;
                            border: none;
                            box-shadow: none;
                            outline: none;
                            color: white;

                            &::placeholder {
                                color: white;
                                text-transform: capitalize;
                                font-size: 1.2rem;
                                letter-spacing: 0.1rem;
                            }
                        }
                    }
                    button {
                        width: 100%;
                        height: 3.6rem;
                        border: none;
                        background-color: #1ffd5f;
                        color: black;
                        font-weight: bold;
                        text-transform: uppercase;
                        cursor: pointer;
                        &:hover {
                            opacity: 0.9;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 620px) {
    .app {
        padding: 3rem !important;
    }
  
    body .app main .texts .textArea {
        &:last-child {
            display: none;
        }
    }
}

@media screen and (max-width:520px) {
    .loginForm{
        border: none !important;
    }
}

@keyframes preencher {
    0% {
        width: 0;
    }

    30% {
        width: 20%;
    }

    40% {
        width: 45%;
    }

    58% {
        width: 65%;
    }

    78% {
        width: 85%;
    }

    88% {
        width: 90%;
    }

    90% {
        width: 95%;
    }

    100% {
        width: 100%;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes show2 {
    0% {
        opacity: 0;
        display: none;
        transform: scale(0.8);
    }
    100% {
        display: flex;
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes tremer {
    0% {
        transform: translateX(4px);
    }
    25% {
        transform: translateX(-4px);
    }

    50% {
        transform: translateX(4px);
    }

    75% {
        transform: translateX(-4px);
    }
    100% {
        transform: translateX(4px);
    }
}
