* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Space Grotesk", sans-serif;
  min-height: 100vh;
}
body .app {
  min-height: 100vh;
  position: relative;
}
body .app .topTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  color: white;
  padding: 6rem 2rem;
  background-image: linear-gradient(90deg, #7b3be7 0%, #5c2ee0 100%);
  z-index: 99;
}
body .app .topTitle span:nth-child(1) {
  display: flex;
  gap: 0.5rem;
  font-size: max(1.6rem, 1.4vw);
}
body .app .topTitle .txt {
  display: grid;
  gap: 1rem;
}
body .app .topTitle .txt h1 {
  font-size: max(2.4rem, 2.4vw);
  font-weight: 600;
}
body .app .topTitle .txt p {
  font-size: max(1.4rem, 1.2vw);
}
body .app .showNivel {
  display: flex !important;
  transform: translateX(0vh) !important;
}
body .app .backBtn {
  position: absolute;
  top: 1rem;
  left: 2rem;
  font-size: 2rem;
  color: #5c2ee0;
  cursor: pointer;
  transition: 0.4s ease color;
}
body .app .backBtn:hover {
  color: #7b3be7;
}
body .app .bottomContent {
  width: 100%;
  align-self: center;
  background-color: white;
  border-radius: 3rem 3rem 0 0;
  position: relative;
  top: -2rem;
}
body .app .bottomContent .cardsArea {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
body .app .bottomContent .cardsArea .card {
  display: grid;
  justify-content: center;
  width: max(11.4rem, 14vw);
  height: max(13.2rem, 15vw);
  border: 1px solid #e9eaee;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
}
body .app .bottomContent .cardsArea .card:nth-child(2) .imgArea span {
  color: #ff732b !important;
}
body .app .bottomContent .cardsArea .card:nth-child(4) .imgArea span {
  color: #be4fc1 !important;
}
body .app .bottomContent .cardsArea .card .top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 2rem;
  color: #5c2ee0;
  font-size: max(2.4rem, 3vw);
}
body .app .bottomContent .cardsArea .card .top .imgArea {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
}
body .app .bottomContent .cardsArea .card .top .imgArea img {
  width: max(4.6rem, 5vw);
}
body .app .bottomContent .cardsArea .card .top .imgArea span {
  font-weight: bolder;
  color: #ff4d79;
  font-size: max(1.6rem, 1vw);
}
body .app .bottomContent .cardsArea .card .top .svgArea {
  padding: 0.1rem;
  cursor: pointer;
}
body .app .bottomContent .cardsArea .card .top .svgArea i {
  transition: 0.4s ease transform;
}
body .app .bottomContent .cardsArea .card .top .svgArea i:hover {
  transform: scale(0.9);
}
body .app .bottomContent .cardsArea .card .bottom {
  font-size: max(1.2rem, 1.2vw);
  display: grid;
  gap: 1rem;
}
body .app .bottomContent .cardsArea .card .bottom .barProgress {
  width: 100%;
  height: 0.7rem;
  background-color: #e9eaee;
  position: relative;
}
body .app .bottomContent .cardsArea .card .bottom .barProgress .bar {
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: #5c2ee0;
}
body .app .bottomContent .nivelArea {
  padding: 17rem 2rem;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3rem 3rem 0 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
  gap: 3rem;
  transition: 0.2s ease transform;
  z-index: 5;
  transform: translateX(-200vw);
}
body .app .bottomContent .nivelArea .txt {
  text-align: center;
}
body .app .bottomContent .nivelArea .txt h2 {
  color: #5c2ee0;
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}
body .app .bottomContent .nivelArea .txt span.tema {
  color: #ee8700;
  font-weight: bolder;
}
body .app .bottomContent .nivelArea ul {
  list-style: none;
  display: grid;
  gap: 3rem;
  width: 100%;
  max-width: 54rem;
}
body .app .bottomContent .nivelArea ul li {
  width: 100%;
  height: 4rem;
  background-color: #e9eaee;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #eee5ff;
  transition: 0.4s all ease;
  cursor: pointer;
}
body .app .bottomContent .nivelArea ul li:hover {
  color: white;
  background-color: #5c2ee0;
}
body .app .bottomContent .nivelArea ul li:active {
  transform: scale(0.95);
}
body .app .bottomContent .nivelArea ul li span {
  display: flex;
  gap: 1rem;
  align-items: center;
}
body .app .bottomContent .nivelArea ul li span i {
  color: #ffb619;
}
body .app .bottomContent .perguntasArea {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: 0.4s ease transform;
  z-index: 10;
  transform: translateX(-200vw);
  background-color: white;
  border-radius: 3rem 3rem 0 0;
}

@media screen and (max-width: 268px) {
  body .app .bottomContent .cardsArea {
    grid-template-columns: 1fr;
  }
  body .app .topTitle span:nth-child(2) {
    font-size: max(2.4rem, 3vw);
  }
}
@media screen and (min-width: 630px) {
  .quiz {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
  }
  body .app .bottomContent {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
  }
  body .app .bottomContent .cardsArea {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
  body .app .topTitle {
    max-width: 500px !important;
    padding: 9rem 2rem;
  }
}
@media screen and (max-width: 630px) {
  body .app .bottomContent .perguntasArea.transform {
    transform: translateX(0vh) translateY(-40%) !important;
  }
}
@media (max-width: 630px) and (min-height: 650px) {
  body .app .bottomContent {
    padding-top: 25%;
  }
}/*# sourceMappingURL=style.css.map */