* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Space Grotesk", sans-serif;

  min-height: 100vh;

  .app {
    min-height: 100vh;
    position: relative;

    .topTitle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4rem;
      color: white;
      padding: 3rem 2rem 6rem 2rem;
      background-image: linear-gradient(90deg, #7b3be7 0%, #5c2ee0 100%);
      z-index: 99;
      span {
        &:nth-child(1) {
          display: flex;
          gap: 0.5rem;
          font-size: max(1.6rem, 1.4vw);
        }
      }
      .txt {
        display: grid;
        gap: 1rem;
        h1 {
          font-size: max(2.4rem, 2.4vw);
          font-weight: 600;
        }
        p {
          font-size: max(1.4rem, 1.2vw);
        }
      }
    }
    .showNivel {
      display: flex !important;
      transform: translateX(0vh) !important;
    }
    .backBtn {
      position: absolute;
      top: 1rem;
      left: 2rem;
      font-size: 2rem;
      color: #5c2ee0;
      cursor: pointer;
      transition: 0.4s ease color;
      &:hover {
        color: #7b3be7;
      }
    }
    .bottomContent {
      width: 100%;
      align-self: center;
      background-color: white;
      border-radius: 3rem 3rem 0 0;
      position: relative;
      top: -2rem;
      .cardsArea {
        padding: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;

        .card {
          display: grid;
          justify-content: center;
          width: max(11.4rem, 12vw);
          height: max(13.2rem, 13vw);
          border: 1px solid #e9eaee;
          border-radius: 1rem;
          padding: 1rem;

          margin-bottom: 2rem;
          &:nth-child(2) {
            .imgArea {
              span {
                color: #ff732b !important;
              }
            }
          }
          &:nth-child(4) {
            .imgArea {
              span {
                color: #be4fc1 !important;
              }
            }
          }
          .top {
            display: flex;
            width: 100%;
            justify-content: space-between;
            gap: 2rem;

            .imgArea {
              display: grid;
              justify-items: center;
              align-items: center;
              text-align: center;
              img {
                width: max(4.6rem, 5vw);
              }
              span {
                font-weight: bolder;
                color: #ff4d79;
                font-size: max(1.6rem, 1vw);
              }
            }
            .svgArea {
              padding: 0.1rem;

              cursor: pointer;
              i {
                transition: 0.4s ease transform;
                &:hover {
                  transform: scale(0.9);
                }
              }
            }
            color: #5c2ee0;
            font-size: max(2.4rem, 3vw);
          }
          .bottom {
            font-size: max(1.2rem, 1.2vw);
            display: grid;
            gap: 1rem;
            .barProgress {
              width: 100%;
              height: 0.7rem;
              background-color: #e9eaee;
              position: relative;
              .bar {
                position: absolute;
                width: 20%;
                height: 100%;
                background-color: #5c2ee0;
              }
            }
          }
        }
      }
      .nivelArea {
        padding: 17rem 2rem;
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 3rem 3rem 0 0;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        display: flex;
        gap: 3rem;
        transition: 0.1s ease transform;
        z-index: 5;
        transform: translateX(-200vw);
        .bx{
          width: 100%;
    text-align: -webkit-center;
        }
        .txt {
          text-align: center;
          margin-bottom: 1rem;
          h2 {
            color: #5c2ee0;
            display: flex;
            gap: 1rem;
            padding-bottom: 1rem;
            font-size: max(2.2rem, 2.4vw);
            justify-content: center;
          }
          span.tema {
            color: #ee8700;
            font-weight: bolder;
          }
        }
        ul {
          list-style: none;
          display: grid;
          gap: 3rem;
          width: 100%;
          max-width: 54rem;

          li {
            width: 100%;
            height: 4rem;
            background-color: #e9eaee;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #eee5ff;
            transition: 0.4s all ease;
            cursor: pointer;
            &:hover {
              color: white;
              background-color: #5c2ee0;
            }

            &:active {
              transform: scale(0.95);
            }
            span {
              display: flex;
              gap: 1rem;
              align-items: center;
              i {
                color: #ffb619;
              }
            }
          }
        }
      }
      .perguntasArea {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        transition: 0.4s ease transform;
        z-index: 10;
        transform: translateX(-200vw);
        background-color: white;
        border-radius: 3rem 3rem 0 0;
        display: flex;
        flex-direction: column;

        gap: 3rem;
        padding: 1.8rem 2rem 2rem 2rem;
        .top {
          display: flex;
          width: 100%;
          justify-content: space-between;

          i {
            font-size: 2rem;
            color: #251550;
            cursor: pointer;
            transition: 0.4s ease color;
          }
          span {
            color: #251550;

            font-weight: 600;
            font-size: 1.8srem;
          }
        }
        .spinnerArea {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .spinner {
            font-size: 3.8rem;
            animation: spinner 1.4s ease-in-out infinite;
          }
        }
        .content {
          display: grid;
          gap: 3rem;
          display: none;

          .barQuantQuestion {
            display: grid;
            gap: 2rem;
            .top {
              font-size: 1.4rem;

              .tempoRestante {
                color: #ffb619;
                i {
                  font-size: 1.3rem;
                }
                span,
                i {
                  color: #ffb619;
                }
              }
            }
            .bar {
              width: 100%;
              height: 0.8rem;
              background-color: #e9eaee;
              border-radius: 1rem;
              overflow: hidden;
              .progress {
                width: 60%;
                height: 100%;
                background-color: #5c2ee0;
              }
            }
          }
          .questionBox {
            display: grid;
            gap: 3rem;
            .pergunta {
              .perguntaAtual {
                padding-right: 0.5rem;
                color: #251550;
                font-weight: 600;
              }
              .perguntaTxt {
                color: #251550;
                font-size: 1.6rem;
              }
            }
            .respostas {
              border: 1px solid #efe6ff;
              padding: 1rem;
              border-radius: 1rem;
              form {
                display: grid;
                gap: 2rem;
              }
              .form {
                display: flex;
                flex-direction: column;
                label {
                  padding: 1rem 0.2rem;
                  border-radius: 0.6rem;

                  &.respCorreta {
                    background: #a8f1a8;
                    color: green;
                    border-radius: 0.6rem;
                    input{
                      &::before {
                      background-color: green;
                        
                      }
                    }
                  }
                  &.respErrada {
                    background: #efa2a2;
                    color: #8f1111;
                    input{
                      &::before {
                      background-color: #8f1111;
                        
                      }
                    }
                  }
                  input {
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    margin-right: 0.5rem;
                    outline: none;
                    border: 1px solid #251550;
                    appearance: none;
                    position: relative;

                    &:checked::before {
                      opacity: 1;
                    }
                    &::before {
                      content: "";
                      position: absolute;
                      width: 60%;
                      height: 60%;
                      background-color: #5c2ee0;
                      border-radius: 50%;
                      opacity: 0;
                      left: 50%;
                      top: 50%;
                      transform: translateX(-50%) translateY(-50%);
                    }
                  }
                  span {
                    z-index: -1;
                  }
                }
              }
            }
            button {
              border: none;
              padding: 2rem 0;
              margin-bottom: 2rem;
              background-color: #5c2ee0;
              color: white;
              border-radius: 1rem;
              transition: 0.5s ease background;
              width: 100%;
              max-width: 40rem;
              justify-self: center;
              cursor: pointer;
              justify-content: center;

              &.proximaPergunta{
                display: none;
                background-color: #ee8700;
                &:hover {
                  background-color: #c46f00;
                }
              }

              &.verResultado{
                display: none;
               
              }
              &:hover {
                background-color: #251550;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 268px) {
  body .app .bottomContent .cardsArea {
    grid-template-columns: 1fr;
  }
  body .app .topTitle span:nth-child(2) {
    font-size: max(2.4rem, 3vw);
  }
}

@media screen and (min-width: 630px) {
  .quiz {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
  }
  body .app .bottomContent {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
  }
  body .app .bottomContent .cardsArea {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
  body .app .topTitle {
    max-width: 500px !important;
    padding: 9rem 2rem;
    
  }
  body .app.modeQuestion .bx {
    opacity: 0;
  }
  body .app.modeQuestion .topTitle {
    display: none !important;
  }
}

@media screen and (max-width: 630px) {
  body .app .bottomContent .perguntasArea.transform {
    transform: translateX(0vh) translateY(-40%) !important;
  }
  .app.modeQuestion {
    padding-top: 4rem;
    .topTitle,
    .cardsArea,
    .nivelArea {
      opacity: 0;
      padding: 0;
      display: none;
    }
  }
}

@media (max-width: 630px) and (min-height: 650px) {
  body .app .bottomContent {
    padding-top: 25%;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
