* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Space Grotesk", sans-serif;
  min-height: 100vh;
  background-color: #121214;

  .app {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 20rem;
    .imgArea {
      width: 60.4rem;
      height: 520px;
      display: flex;
      align-items: center;
      img{
        width: 50rem;
      }
    }
    .contentArea {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: white;
      gap: 5rem;
      margin-left: 9rem;
      .titleArea {
        h1 {
          font-size: 11rem;
          color: #8257e5;
        }
        h3 {
          font-size: 2.8rem;
        }
      }
      .descArea {
        display: grid;
        gap: 1.6rem;
        .descTitle {
          font-size: 1.4rem;
          color: #04d361;
          font-weight: 600;
        }
      }
    }
    a.button {
      text-decoration: none;
      color: white;
      font-size: 1.4rem;
      background-color: #8257e5;
      width: 65%;
      height: 6rem;
      border-radius: 0.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      letter-spacing: 0.1rem;
      transition: 0.4s ease background-color;
      &:hover {
        background-color: #6839d6;
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .imgArea {
    img {
      width: 40rem;
    }
  }
}

@media screen and (max-width: 840px) {
  html {
    font-size: 55%;
    overflow-x: hidden;
  }
  .imgArea {
    img {
      width: 40rem;
    }
  }
}

@media screen and (max-width: 680px) {
  body .app {
    flex-direction: column;
    gap: 0;
    padding: 0 6rem;
    margin-bottom: 2rem;
  }
  .contentArea{
    margin-left: 0rem;
  }
  body .app .imgArea {
  
    justify-content: center;
}
}
