* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem;
    font-family: "Space Grotesk", sans-serif;

    min-height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(18,125,176,1) 41%, rgba(0,212,255,1) 100%);
    overflow: hidden;
    .app {
      width: 100%;
      min-height: 100vh;
      position: relative;
  
      h1{
        position: absolute;
        left: 50vw;
        top: 10vh;
        transform: translateX(-50%);
        color: #66ff00;
        font-size: 4.6rem;
      }
  
  
    
    }
    #peixes, #peixes2{
      width: 100vw;
      height: 100vh;
      background: none;
      position: absolute;
    }

    .areaAlga{
      width: 100%;
      display: flex;
      position: absolute;
      bottom: -20px;
      gap:25rem;
      .alga{
        width: 140px;
        img{
          width: 100%;
        }
      }
    }
    .areia{
      width: 100%;
      position: absolute;
      bottom: -10px;
      left: -50vw;
      z-index: -10;
      img{
        width: 200vw;
        height: 200px;

      }
    }
  }
  